#buttons{
    width: 300px;
    height: 250px;
    
   
}
#calcul{
    width: 300px;
    height: 100px;
    
}
body{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
#mode{
    display: flex;
    justify-content: center;
    gap: 20px;

}


